/* Figma Styles of your File */
:root {
    /* Colors */
    --dark: #2b4240;
    --green: #0b655a;
    --gray: #b2c7c5;
    --light: #f8f6e7;
    --orange: #ff8a63;

    /* Fonts */

    /* Effects */
}
